<div class="app-users-page--header">

  <h2>Users</h2>

  <span class="app-users-page--header-actions">
    <button
      ds-button
      color="error"
      (click)="deleteAllUsersOnPage()"
      [disabled]="(users$ | async)?.length === 0"
      type="button">
      Delete all on page
    </button>
    <button
      ds-button
      (click)="openCreateDialog()"
      [disabled]="(createButtonEnabled$ | async) === false"
      type="button">
      Create user
    </button>
  </span>

</div>

@if (firstLoadCompleted$ | async) {

  <ds-table [columns]="tableColumns" [data]="users$ | async">
    <ng-template [dsTableHeaderCell]="'actions'"></ng-template>
    <ng-template [dsTableCell]="'active'" let-item="item">
      {{ item.active ? '✅' : '❌' }}
    </ng-template>
    <ng-template [dsTableCell]="'actions'" let-item="item">
      <div class="app-users-page--table-row-actions">
        <button
          ds-ghost-button
          (click)="openEditDialog(item)"
          title="Edit user">
          Edit
        </button>
        <button
          ds-ghost-button
          color="error"
          (click)="deleteUser(item)"
          title="Delete user">
          Delete
        </button>
      </div>
    </ng-template>
  </ds-table>

  <ds-paginator
    [pageSizeOptions]="[5, 10]"
    [showItemsPerPage]="true"
    [totalElements]="totalUsers$ | async"
    [showTotalElements]="true"
    (pageChange)="onPageChange($event)"
  ></ds-paginator>
}

@if (loaderVisible$ | async) {
  <div class="app-overlay">
    <ds-spinner size="xlg"></ds-spinner>
  </div>
}
