<form *ngIf="paginatorIntl$ | async as paginatorIntl" class="ds-paginator-container" autocomplete="off">

  @if (showTotalElements) {
    <span>
      {{ paginatorIntl.totalItems }}:
      <span data-test="ds-paginator-total-elements">{{ totalElements | number }}</span>
    </span>
  }

  @if (showItemsPerPage) {
    <span class="ds-paginator-items-per-page" data-test="ds-paginator-items-per-page">
      <span>{{ paginatorIntl.itemsPerPage }}:</span>
      <select ds-select [formControl]="pageSizeControl" size="sm">
        @for (option of pageSizeOptions; track option) {
          <option value="{{option}}">{{ option }}</option>
        }
      </select>
    </span>
  }

  <span data-test="ds-paginator-current-page">
    {{ paginatorIntl.pageXofN | interpolate: {x: paginatorValue.index, n: (numberOfPages | number)} }}
  </span>

  <span class="ds-paginator-actions">

    <button
      ds-ghost-fab
      color="text"
      (click)="first()"
      [disabled]="paginatorValue.index === 1"
      type="button"
      size="xlg"
      [title]="paginatorIntl.firstPage">
      ⏮️
    </button>

    <button
      ds-ghost-fab
      color="text"
      (click)="previous()"
      [disabled]="paginatorValue.index === 1"
      type="button"
      size="xlg"
      [title]="paginatorIntl.previousPage">
      ⬅️
    </button>

    <button
      ds-ghost-fab
      color="text"
      (click)="next()"
      [disabled]="paginatorValue.index === numberOfPages"
      type="button"
      size="xlg"
      [title]="paginatorIntl.nextPage">
      ➡️
    </button>

    <button
      ds-ghost-fab
      color="text"
      (click)="last()"
      [disabled]="paginatorValue.index === numberOfPages"
      type="button"
      size="xlg"
      [title]="paginatorIntl.lastPage">
      ⏭️
    </button>

  </span>

</form>
