:host {
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  background: transparent;

  &.ds-spinner-size-sm {
    width: 40px;
    height: 40px;
    border: 6px solid var(--color-primary-400);
    border-bottom-color: transparent;
  }

  &.ds-spinner-size-md {
    width: 60px;
    height: 60px;
    border: 8px solid var(--color-primary-400);
    border-bottom-color: transparent;
  }

  &.ds-spinner-size-lg {
    width: 90px;
    height: 90px;
    border: 10px solid var(--color-primary-400);
    border-bottom-color: transparent;
  }

  &.ds-spinner-size-xlg {
    width: 120px;
    height: 120px;
    border: 10px solid var(--color-primary-400);
    border-bottom-color: transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
