<table>

  <thead>
    <tr>
      <th *ngFor="let column of $any(columns)" [style.width]="column.width">
          <ng-container *ngIf="tableHeaderCellRefs[column.id] as templateRef; else defaultHeaderCellContent">
            <ng-container [ngTemplateOutlet]="templateRef"></ng-container>
          </ng-container>
          <ng-template #defaultHeaderCellContent>{{column.label}}</ng-template>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of data; trackBy: trackRowsBy">
      <td *ngFor="let column of $any(columns)" [style.width]="column.width">
        <ng-container *ngIf="tableCellRefs[column.id] as templateRef; else defaultCellContent">
          <ng-container [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{item: item}"></ng-container>
        </ng-container>
        <ng-template #defaultCellContent>
          {{ $any(item)[column.id] }}
        </ng-template>
      </td>
    </tr>
  </tbody>

</table>
